n8n_workflow_axia_daily_video.json
{
  "name": "Axia Daily Video Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Daily 9 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "python3 /home/user/axia-video-wt-production/scripts/run_workflow.py",
        "workingDirectory": "/home/user/axia-video-wt-production"
      },
      "id": "node-exec-workflow",
      "name": "Execute Video Workflow",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 300
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.exitCode}}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      },
      "id": "node-check-success",
      "name": "Check If Successful",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "automation@axia.trade",
        "toEmail": "team@axia.trade",
        "subject": "✅ Axia Video Published Successfully",
        "text": "=Daily Axia video has been published successfully!\n\nVideo URL: {{$json.video_url}}\nProcessing Time: {{$json.processing_time}} minutes\nAll Quality Scores: PASSED\n\nNext run: Tomorrow 9:00 AM GMT"
      },
      "id": "node-success-email",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "fromEmail": "automation@axia.trade",
        "toEmail": "team@axia.trade",
        "subject": "⚠️ Axia Video Workflow Failed",
        "text": "=Axia video workflow failed.\n\nError: {{$json.error}}\nStage: {{$json.stage}}\nAttempts: {{$json.attempts}}\n\nAction required: Manual review needed.\nLogs: {{$json.log_path}}"
      },
      "id": "node-failure-email",
      "name": "Send Failure Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "={{$json.slack_webhook_url}}",
        "method": "POST",
        "body": "={\n  \"text\": \"✅ Axia video published!\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Axia Daily Video Published*\\nVideo: {{$json.video_url}}\"\n      }\n    }\n  ]\n}"
      },
      "id": "node-slack-notification",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 100]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "body": "={\n  \"chat_id\": \"{{$env.TELEGRAM_CHAT_ID}}\",\n  \"text\": \"✅ Axia video published!\\n\\nWatch: {{$json.video_url}}\",\n  \"parse_mode\": \"HTML\"\n}"
      },
      "id": "node-telegram-post",
      "name": "Post to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "statement": "=INSERT INTO video_logs (date, video_url, processing_time, quality_scores, status) VALUES (NOW(), '{{$json.video_url}}', {{$json.processing_time}}, '{{$json.quality_scores}}', 'success')"
      },
      "id": "node-log-database",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-axia-logs",
          "name": "Axia PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Daily 9 AM Trigger": {
      "main": [[{"node": "Execute Video Workflow", "type": "main", "index": 0}]]
    },
    "Execute Video Workflow": {
      "main": [[{"node": "Check If Successful", "type": "main", "index": 0}]]
    },
    "Check If Successful": {
      "main": [
        [
          {"node": "Send Success Email", "type": "main", "index": 0},
          {"node": "Notify Slack", "type": "main", "index": 0},
          {"node": "Log to Database", "type": "main", "index": 0}
        ],
        [{"node": "Send Failure Email", "type": "main", "index": 0}]
      ]
    },
    "Notify Slack": {
      "main": [[{"node": "Post to Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "versionId": "1.0.0",
  "meta": {
    "instanceId": "axia-production"
  },
  "tags": [
    {"id": "automation", "name": "automation"},
    {"id": "video", "name": "video"},
    {"id": "axia", "name": "axia"}
  ]
}
